#textdomain wesnoth-Custom_Campaign
[textdomain]
    name="wesnoth-Custom_Campaign"
    path="data/add-ons/Custom_Campaign/translations"
[/textdomain]

#ifdef MULTIPLAYER
[binary_path]
    path=data/add-ons/Custom_Campaign/
[/binary_path]
[+units]
    {~add-ons/Custom_Campaign/units}
[/units]
{~add-ons/Custom_Campaign/eras}
{~add-ons/Custom_Campaign/scenarios}
#endif

# Programming and Design by Jeffrey 'Sigurd' Westcoat (SigurdFireDragon)

# Inspired by a post on the forums by Glory_to_the_Highest
# http://forums.wesnoth.org/viewtopic.php?f=12&t=34047

# For more information about this Campaign, check out:
# http://forums.wesnoth.org/viewtopic.php?f=8&t=34170
