#textdomain wesnoth-Custom_Campaign

#define CC_CUSTOM_SIDE
    # Only with minimum necessary, as it will be replaced by the player's choice
    [multiplayer_side]
        id=Custom
        name= _ "Custom"
        image="units/unknown-unit.png"
        type=Custom Campaign Unit
        {MAGENTA_IS_THE_TEAM_COLOR}
    [/multiplayer_side]
#enddef

#define CC_RANDOM_SIDE
    [multiplayer_side]
        id=Random
        name= _ "Random"
        image="units/random-dice.png"
        {MAGENTA_IS_THE_TEAM_COLOR}
        random_faction=yes
        except=Custom
    [/multiplayer_side]
#enddef

#define CC_ERA_DATA

#ifver WESNOTH_VERSION >= 1.9.10
	[event]
		name=preload
		first_time_only=no
		
        [lua]
            code=<<
				_ = wesnoth.textdomain "wesnoth-Custom_Campaign"
                helper = wesnoth.require "lua/helper.lua"
                cc = wesnoth.require "~add-ons/Custom_Campaign/lua/cc.lua"
            >>
        [/lua]
	[/event]
    
	[event]
		name=prestart
		
		[lua]
			code=<< cc.era_prestart() >>
		[/lua]
	[/event]
	
	[event]
		name=start
		
		[lua]
			code=<< cc.era_start() >>
		[/lua]
	[/event]

	[event]
		name=enemies defeated
		
		[lua]
			code=<< cc.era_enemies_defeated() >>
		[/lua]
	[/event]
	
	[event]
		name=die
		
		[lua]
			code=<< cc.era_die() >>
		[/lua]
	[/event]
	
	[event]
		name=victory
		
		[lua]
			code=<< cc.era_victory() >>
		[/lua]
	[/event]
	
#else
    [event]
        name=prestart
        [message]
            speaker=narrator
            message= _ "This version of Custom Campaign requires 1.9.10 Wesnoth or later."
        [/message]
        [endlevel]
			result=victory
			save=no
			linger_mode=no
		[/endlevel]
    [/event]
#endif
    
#enddef

[era]
    id=Custom_Campaign_Default
    name= _ "Custom Campaign + Default"

    {CC_RANDOM_SIDE}
	{CC_CUSTOM_SIDE}
    {multiplayer/factions/loyalists-default.cfg}
    {multiplayer/factions/rebels-default.cfg}
    {multiplayer/factions/northerners-default.cfg}
    {multiplayer/factions/undead-default.cfg}
    {multiplayer/factions/knalgans-default.cfg}
    {multiplayer/factions/drakes-default.cfg}
	# TODO: path to Khalifate add-on
    # {multiplayer/factions/khalifate-default.cfg}

    {CC_ERA_DATA}
    
    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

[era]
    id=Custom_Campaign_AoH
    name= _ "Custom Campaign + AoH"

	{CC_RANDOM_SIDE}
    {CC_CUSTOM_SIDE}
    
    {multiplayer/factions/loyalists-aoh.cfg}
    {multiplayer/factions/rebels-aoh.cfg}
    {multiplayer/factions/northerners-aoh.cfg}
    {multiplayer/factions/undead-aoh.cfg}
    {multiplayer/factions/knalgans-aoh.cfg}
    {multiplayer/factions/drakes-aoh.cfg}
	# TODO: path to Khalifate add-on
    # {~add-ons/Custom_Campaign/factions/khalifate-aoh.cfg}
    
    {CC_ERA_DATA}
    
    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]

#ifhave ~add-ons/Era_of_Legends/_main.cfg
[era]
    id=Custom_Campaign_EoL
    name= _ "Custom Campaign + EoL"
	
	{CC_RANDOM_SIDE}
    {CC_CUSTOM_SIDE}
    {~add-ons/Era_of_Legends/factions/loyalists-eol.cfg}
    {~add-ons/Era_of_Legends/factions/rebels-eol.cfg}
    {~add-ons/Era_of_Legends/factions/northerners-eol.cfg}
    {~add-ons/Era_of_Legends/factions/undead-eol.cfg}
    {~add-ons/Era_of_Legends/factions/knalgans-eol.cfg}
    {~add-ons/Era_of_Legends/factions/drakes-eol.cfg}
	# TODO: path to Khalifate add-on
    # {~add-ons/Era_of_Legends/factions/khalifate-eol.cfg}
    
    {CC_ERA_DATA}
    
    {QUICK_4MP_LEADERS}
    {TURNS_OVER_ADVANTAGE}
[/era]
#endif
