#textdomain wesnoth-Custom_Campaign

[multiplayer]
    id=1p - Custom_Campaign
    name= _ "1p - Custom Campaign"
    map_data="{~add-ons/Custom_Campaign/maps/Custom_Campaign.map}"
    victory_when_enemies_defeated=no
    description= _ "Play any mp map with a persistent army of your design. Configure each battle with the opponents and settings of your choice.
    
Instructions:
Launch this map with any era to import the selected factions for each side into the Custom Campaign Side List.
Once the map is loaded, you can make armies to play and factions to play against from the imported sides, or you can make custom ones.
    
When you have an army ready to play, launch any map using the 'Custom Campaign' Era.
For each side that you set to 'Custom', you'll get to select an army for your side when the map starts, as well as faction(s) for the other side(s).
    
When you win the map, your updated army is saved, and a count of your victories kept.
    
For use with only one human player." + "

" + _"Version " + "0.9.1"
    # /description

    [music]
        name=""
        immediate=yes
    [/music]
    {INDOORS}
	
#ifver WESNOTH_VERSION >= 1.9.10
	[event]
		name=preload
		first_time_only=no
		
        [lua]
            code=<<
				_ = wesnoth.textdomain "wesnoth-Custom_Campaign"
                helper = wesnoth.require "lua/helper.lua"
                cc = wesnoth.require "~add-ons/Custom_Campaign/lua/cc.lua"
            >>
        [/lua]
	[/event]
	
	[event]
		name=prestart
		first_time_only=yes

		[lua]
			code=<< cc.scenario_prestart() >>
		[/lua]
	
        # Switch to the smaller map, so everything is always in view
        [replace_map]
            map="{~add-ons/Custom_Campaign/maps/Castle.map}"
            shrink=yes
        [/replace_map]
	[/event]
	
    [event]
        name=start
		first_time_only=yes

		# Everything for this scenario is being done in lua
        [lua]
			code=<< cc.main_menu() >>
		[/lua]
    [/event]
	
#else
    [event]
        name=prestart
        [message]
            speaker=narrator
            message= _ "This version of Custom Campaign requires 1.9.10 Wesnoth or later."
        [/message]
        [endlevel]
			result=victory
			save=no
			linger_mode=no
		[/endlevel]
    [/event]
#endif
[/multiplayer]
